$font-stack: "Sans-serif";
$body-background-color: #f2f2f2;
$section-header-undescore-color: #ff875f;
$navbar-background-color:#2e2e2e;
body {
    font-family: $font-stack;
    background-color: $body-background-color;
    opacity: 0;
}

.down-button {
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.down-button>div {
    border-radius: 20px;
    opacity: 0.9;
    margin: 0 auto;
    width: 400px;
    background: $navbar-background-color;
    text-align: center;
}

.down-button div a {
    background: transparent;
    width: auto;
}

.down-button h1 {
    font-size: 4.6rem;
    //    color: gray;
}

.down-button p {
    font-size: 1.8rem;
    //    color: gray;
}

.down-button i {
    //    color: white;
}

.navbar {
    padding: 30px 15px;
    margin-bottom: 0;
    transition: all 1s;
}

.text-banner {
    margin: 40px 20px;
}

.text-banner h1 {
    font-size: 2.8rem;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.text-banner h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -35px;
    height: 2px;
    width: 70px;
    background-color: $section-header-undescore-color;
}

.text-banner p {
    font-size: 1.8rem;
    text-align: left;
    font-family: "Open Sans";
}

.text-banner img {
    border-radius: 50% 50%;
    width: 350px;
}

//.cbp-af-header .navbar-brand {
//    visibility: visible;
//}
.cbp-af-header-shrink .navbar-brand {
    visibility: visible;
    height: 40px;
}

.cbp-af-header-shrink .navbar-brand img {
    height: 40px;
    box-shadow: none;
}

.navbar.navbar-default {
    background-color: $navbar-background-color;
    color: rgba(255, 255, 255, 0.84);
}

.navbar img {
    height: 120px;
    padding-bottom: 5px;
    background-color: #2e2e2e;
    box-shadow: 2px 2px 10px 2px;
    //  transition-height: all 0.8s;
    transition: height 1s;
}

.fill-screen {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar.navbar-default.cbp-af-header-shrink {
    background-color: #2e2e2e;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
    color: whitesmoke;
}

header {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 0 0;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    background-size: cover;
}

.mainImg {
    margin: 0 auto;
    //    width: 100%;
}

.content-filler {
    min-height: 350px;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 900px) {
    .navbar img {
        height: 40px;
        padding-bottom: 5px;
        background-color: #2e2e2e;
        box-shadow: none;
        //  transition-height: all 0.8s;
        transition: none;
    }
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}